@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fxqeb9');
  src:  url('fonts/icomoon.eot?fxqeb9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fxqeb9') format('truetype'),
    url('fonts/icomoon.woff?fxqeb9') format('woff'),
    url('fonts/icomoon.svg?fxqeb9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e917";
}
.icon-trash:before {
  content: "\e917";
}
.icon-minus:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e915";
}
.icon-shopping-cart:before {
  content: "\e913";
}
.icon-linkedin:before {
  content: "\e914";
}
.icon-angle-left:before {
  content: "\e90c";
}
.icon-angle-right:before {
  content: "\e90d";
}
.icon-send:before {
  content: "\e90b";
}
.icon-store:before {
  content: "\e901";
}
.icon-brand-item1:before {
  content: "\e90e";
  color: #c0bab9;
}
.icon-brand-item2:before {
  content: "\e90f";
  color: #c0bab9;
}
.icon-brand-item3:before {
  content: "\e910";
  color: #c0bab9;
}
.icon-brand-item4:before {
  content: "\e911";
  color: #c0bab9;
}
.icon-brand-item5:before {
  content: "\e912";
  color: #c0bab9;
}
.icon-review:before {
  content: "\e90a";
}
.icon-star-line:before {
  content: "\e907";
}
.icon-star:before {
  content: "\e909";
}
.icon-shipping:before {
  content: "\e908";
}
.icon-crop:before {
  content: "\e900";
}
.icon-package:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-like-outline:before {
  content: "\e916";
}
.icon-play:before {
  content: "\e906";
}
.icon-location:before {
  content: "\e947";
}
.icon-user:before {
  content: "\e971";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram1:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-like:before {
  content: "\f004";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-search:before {
  content: "\f002";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-bars:before {
  content: "\f0c9";
}
